# Ejercicio 4    

    # 19120243
    # Alan Omar Tapia Cervantes

In [1]:
# Espacio para realizar la importación de librerías
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
ubicacionArchivo = "Calificaciones_Cafe.csv"
# Carga de un CSV a un archivo tipo DataFrame por medio de pandas.
df = pd.read_csv(ubicacionArchivo)

In [4]:
#vizualizamos los datos
display(df)

,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,...,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,78.75,Robusta,luis robles,Ecuador,robustasa,Lavado 1,our own lab,NaN,robustasa,NaN,...,Blue-Green,1,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1334,78.08,Robusta,luis robles,Ecuador,robustasa,Lavado 3,own laboratory,NaN,robustasa,40,...,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,40.0,40.0,40.0
1335,77.17,Robusta,james moore,United States,fazenda cazengo,NaN,cafe cazengo,NaN,global opportunity fund,795 meters,...,NaN,6,"December 23rd, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,795.0,795.0,795.0
1336,75.08,Robusta,cafe politico,India,NaN,NaN,NaN,14-1118-2014-0087,cafe politico,NaN,...,Green,1,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1337,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,NaN,NaN,cafe politico,NaN,...,None,9,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN

In [9]:
print("\nInformación general del DataFrame: \n\n")
print(df.info())

# Contabiliza el número de columnas numéricas
num_columnas_numericas = len(df.select_dtypes(include=['number']).columns)

# Contabiliza el número de columnas de tipo objeto
num_columnas_objeto = len(df.select_dtypes(include=['object']).columns)

# Contabiliza la cantidad de valores nulos por columna
nulos_por_columna = df.isnull().sum().sort_values(ascending=False)

# Muestra los resultados

print("\nNúmero de columnas numéricas:", num_columnas_numericas)
print("\nNúmero de columnas de tipo objeto:", num_columnas_objeto)
print("\n\nCantidad de valores nulos por columna:\n")
print(nulos_por_columna)

Información general del DataFrame:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   total_cup_points       1338 non-null   float64
 1   species                1338 non-null   object
 2   owner                  1331 non-null   object
 3   country_of_origin      1337 non-null   object
 4   farm_name              979 non-null    object
 5   lot_number             275 non-null    object
 6   mill                   1020 non-null   object
 7   ico_number             1181 non-null   object
 8   company                1129 non-null   object
 9   altitude               1112 non-null   object
 10  region                 1279 non-null   object
 11  producer               1106 non-null   object
 12  number_of_bags         1338 non-null   int64
 13  bag_weight             1338 non-null   object
 14  in_country_partner     1338 non-null   object
 15  harvest_year           1291 non-null   object
 16  grading_date           1338 non-null   object
 17  owner_1                1331 non-null   object
 18  variety                1112 non-null   object
 19  processing_method      1169 non-null   object
 20  aroma                  1338 non-null   float64
 21  flavor                 1338 non-null   float64
 22  aftertaste             1338 non-null   float64
 23  acidity                1338 non-null   float64
 24  body                   1338 non-null   float64
 25  balance                1338 non-null   float64
 26  uniformity             1338 non-null   float64
 27  clean_cup              1338 non-null   float64
 28  sweetness              1338 non-null   float64
 29  cupper_points          1338 non-null   float64
 30  moisture               1338 non-null   float64
 31  category_one_defects   1338 non-null   int64
 32  quakers                1337 non-null   float64
 33  color                  1120 non-null   object
 34  category_two_defects   1338 non-null   int64
 35  expiration             1338 non-null   object
 36  certification_body     1338 non-null   object
 37  certification_address  1338 non-null   object
 38  certification_contact  1338 non-null   object
 39  unit_of_measurement    1338 non-null   object
 40  altitude_low_meters    1108 non-null   float64
 41  altitude_high_meters   1108 non-null   float64
 42  altitude_mean_meters   1108 non-null   float64
dtypes: float64(16), int64(3), object(24)
memory usage: 449.6+ KB
None

Número de columnas numéricas: 19

Número de columnas de tipo objeto: 24


Cantidad de valores nulos por columna:

total_cup_points            0
species                     0
owner                       7
country_of_origin           1
farm_name                 359
lot_number               1063
mill                      318
ico_number                157
company                   209
altitude                  226
region                     59
producer                  232
number_of_bags              0
bag_weight                  0
in_country_partner          0
harvest_year               47
grading_date                0
owner_1                     7
variety                   226
processing_method         169
aroma                       0
flavor                      0
aftertaste                  0
acidity                     0
body                        0
balance                     0
uniformity                  0
clean_cup                   0
sweetness                   0
cupper_points               0
moisture                    0
category_one_defects        0
quakers                     1
color                     218
category_two_defects        0
expiration                  0
certification_body          0
certification_address       0
certification_contact       0
unit_of_measurement         0
altitude_low_meters       230
altitude_high_meters      230
altitude_mean_meters      230
dtype: int64